html, body {
  background-color: #F1F4F9;
}

//=============
// Header
//=============

header {
  background-image: url(../img/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80%;
}

//=============
// Footer
//=============

footer {
  background-color: #333333;
  height: 100px;
  text-align: center;

  div.h2 {
    vertical-align: middle;
  }
}

//=============
// Section Breaks
//=============

.row.section-break {
  border-top: 1px solid grey;

  &.top-section {
    border-top: none;
  }

  .columns {
    text-align: center;
  }
}

//=============
// Sizing Icons
//=============

i {
  &.navicon {
    font-size: 150%;
  }
}

//=============
// Nav Bar
//=============

.top-bar-section li:not(.has-form) a:not(.button) {
  transition: background 1.0s, color 1.0s;

  &:hover {
    background: rgba(241, 244, 249, 1.0);
    color: #333333;
  }
}

//=============
// Carousel
//=============

.carousel {

  img {
    padding-top: 10px;
    height: 450px;
    margin: 0 auto;

  }

  button {
    background-color: #F1F4F9;
    border-color: #F1F4F9;
  }

  .slick-prev:before, .slick-next:before {
    background-color: #F1F4F9;
    color: #333333;
  }
}

//=============
// Other Formatting
//=============

.skills {
  text-align: center;
  font-size: 200%
}

section.content {
  padding-top: 20px;
  padding-bottom: 30px;
}

.title-section {
  padding-top: 10px;
}

.links-section {
  text-align: left;
  font-size: 200%;
  text-decoration: none;

  a {
    color: #333333 !important;

    &:hover {
      color: grey !important;
    }
  }
}

.header-row {
  height: 550px;
  padding-top: 200px;

  h1 {
    color: rgba(255,255,255,0.0) !important;
    text-align: center;
    font-size: 400%;
    transition: color 1.0s;
  }

  &:hover {
    h1 {
      color: rgba(241,244,249,0.8) !important;
    }
  }

}

.about-me-icons {

  div {
    padding-left: 64px;
  }

  i.fa {
    text-align: right;

    &.fa-laptop {
      font-size: 1000%;
    }

    &.fa-terminal {
      font-size: 400%;
      position: absolute;
      top: 37px;
      left: 127px;
    }
  }
}
